body{
	background-color: #A9D0F5;
	font-family: 'Montserrat', sans-serif;
}

.div-right{
	margin-top: 50px !important;
}

.crop{
	float:left;
	overflow:hidden; /* IMPORTANTE */
}

.crop .image-profile{
	height: 350px;
	width: 90%;
	border-radius: 50%;
	margin-left: 5%;
}

.div-right{
	overflow: hidden;
	padding: 30px;
}
.titles{
	text-align: center;
}

table {
	margin-top: 5%;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 5%;
}

td, th {
    border: 1px solid #3364FF;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #7293FD;
    font-weight: bold;
}

.div-right a{
	font-size: 1.5em;
}

.title-photo{
	text-align: center; 
	margin-bottom: 10%;
}