div {
    /* inset shadow for visual aid only: allow to easily see the div boundaries */
}

#contentBox {
    margin: 0 auto;
    width: 100%;
}

#contentBox .select-col{
    float: left;
    margin: 0;
    width: 20%;
}

#contentBox .checkbox-col{
    margin-left: 20%;
    width: 30%;
}