div {
    /* inset shadow for visual aid only: allow to easily see the div boundaries */
}

#contentBox {
    margin: 0 auto;
    width: 100%;
}

#contentBox .column {
    float: left;
    margin: 0;
    width: 20%;
}